<div>
  From: 11 Broadway, New York, NY 10033
</div>
<br>
<div>
  To: Empire State Building, 350 5th Avenue, New York, NY 10001
</div>
<br>
<div>
  Distance: 4.5 miles
</div>
<br>
<div>
  Wind from: 30 degrees
</div>
<br>
<div>
  Wind speed: 10 MPH
</div>
<br>
<div>
  Avg trip heading: 60 degrees
</div>
