<div class="trip-data">

  <div>
    From: <span id='startAddress'></span>
  </div>
  <br>
  <div>
    To: <span id='finishAddress'></span>
  </div>
  <br>
  <div>
    Distance: <span id='distanceInWords'></span>
  </div>
  <br>
  <div>
    Wind from: <span id='windHeading'></span>&deg;
  </div>
  <br>
  <div>
    Wind speed: <span id='windSpeedMPH'></span> mph
  </div>
  <br>
  <div>
    Avg trip heading: <span id='tripBearing'></span>&deg;
  </div>

</div>
