<table>

    <thead>
        <tr>
            <th>Trip Data</th>
            <th>Unadjusted</th>
            <th>Adjusted for Wind</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Crosswind Component</td>
            <td>-</td>
            <td>23 MPH</td>
        </tr>
        <tr>
            <td>Headwind/Tailwind Component</td>
            <td>-</td>
            <td>5 MPH</td>
        </tr>
        <tr>
            <td>Biking Speed Estimate</td>
            <td>10 MPH</td>
            <td>6 MPH</td>
        </tr>
        <tr>
            <td>Biking Trip Duration</td>
            <td>28 min</td>
            <td>1 hour and 32 min</td>
        </tr>
    </tbody>
</table>
