<table class="trip-data">

    <thead>
        <tr>
            <th>Trip Data</th>
            <th>Unadjusted</th>
            <th>Adjusted for Wind</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Crosswind Component</td>
            <td>-</td>
            <td id='crosswind'></td>
        </tr>
        <tr>
            <td>Headwind/Tailwind Component</td>
            <td>-</td>
            <td id='headwind'></td>
        </tr>
        <tr>
            <td>Biking Speed Estimate</td>
            <td id='nonAdjustedSpeed'></td>
            <td id='adjustedSpeed'></td>
        </tr>
        <tr>
            <td>Biking Trip Duration</td>
            <td id='durationInWords'></td>
            <td id='adjustedDurationInWords'></td>
        </tr>
    </tbody>
</table>
